/* Fondo semitransparente con animación de entrada */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Por encima de todos los componentes */
    display: flex;
    flex-direction: column;
    opacity: 0; /* Empieza invisible */
    visibility: hidden; /* Evita la interacción al estar oculto */
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* Mostrar el fondo */
  .search-overlay.show {
    opacity: 1; /* Se hace visible */
    visibility: visible; /* Permite la interacción */
  }
  
  /* Fondo negro semitransparente */
  .search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.952); /* Negro con 50% de opacidad */
    z-index: 1;
    opacity: 0; /* Comienza invisible */
    transition: opacity 0.3s ease;
  }
  
  /* Mostrar el fondo negro */
  .search-overlay.show .search-backdrop {
    opacity: 1; /* Aparece gradualmente */
  }
  
  /* Barra de búsqueda */
  .search-bar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Por encima del fondo negro */
    width: 100%;
    max-width: 600px;
    padding: 10px;
    opacity: 0; /* Empieza invisible */
    transform: translate(-50%, -10px); /* Un poco más abajo para el efecto */
    transition: opacity 0.3s ease, transform 0.3s ease;
    overflow-y: auto; /* Habilita el desplazamiento dentro de la barra de búsqueda */
  }
  
  /* Mostrar la barra de búsqueda */
  .search-overlay.show .search-bar {
    opacity: 1; /* Se hace visible */
    transform: translate(-50%, 0); /* Sube a su posición */
  }
  
  /* Estilo del input */
  .search-input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
/* Estilo del botón "X" para borrar el campo de búsqueda */
.clear-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
}

.option {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
}


.clear-button:hover {
  color: #333;
}

/* Botón de búsqueda */
.search-button {
  position: absolute;
  top: 50%;
  right: 60px; /* Ajustar para que no se sobreponga con la X */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}
  
  .search-button:hover {
    color: white;
  }

  .bg-custom-blue {
  background-color: #0e1c42;
}


.search-results {
  max-height: 85vh; /* Ajusta la altura máxima de los resultados */
  overflow-y: auto; /* Habilita el desplazamiento para los resultados de búsqueda */
  margin-top: 4%;
  margin-bottom: 5%;
  padding-right: 10%;
}

.search-result-item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.loading-spinner {
  margin-top: 1rem;
  text-align: center;
}

