/* Spinner.css */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.795); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Para asegurarnos de que el spinner esté encima de todo */
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Color de fondo */
    border-top: 8px solid #0e1c42; /* Color de la animación */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite; /* Animación de giro */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  